body{
    margin: 0;
    padding: 0;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: rgb(247, 246, 246);
}

div{
    display: block;
}

.navbar{
    display: flex;
    margin: auto;
    width: 100%;
    background-color: white;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    height: 60px;
}

.nav ul{
    display: flex;
    margin-top: 20px;
}

.nav ul li{
    list-style: none;
    margin-right: 30px;
    text-align: center;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    padding-bottom: 22px;
    border-bottom: 4px solid black;

}

.nav2 ul{
    display: flex;
    margin-top: 20px;
}

.nav2 ul li{
    list-style: none;
    margin-left: 30px;
    text-align: center;
}

.nav2 ul li a{
    text-decoration: none;
    color: black;
}
.nav2 ul li a:hover{
    border-bottom: 4px solid black;
    padding-bottom: 22px;
}

.nav ul li a img{
    margin-top: -30px;
}

.main img{
    border-bottom: 2px solid lightgray;
}
.content{
    height: 165px;
    margin: -4px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: .9375rem;
}

h4::after{
    position: absolute;
}

.main2 h4{
    margin: -2px;
    margin-left: 6px;
    font-weight: lighter;
}


.win{
    width: 230px;
    padding-left: 1045px;
    padding-top: 20px;
    margin-right: 370px;
    cursor: pointer;
}

.const{
    display: flex;
}

.bar1{
    border: 2px solid transparent;
    width: 290px;
    height: 1660px;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 120px;
}

.bar1 p{
    margin-left: 20px;
}

.bar1 hr{
    margin-left: 20px;
    margin-right: 20px;
}

.content h4{
    position: relative;
    cursor: pointer;
}

h4:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -70px;
}

h4:hover:after{
    width: 100%;
}

.content h4{
    margin: -2px;
    font-weight: 100;
}

.content p{
    color: #4d4d4d;
}

.sec1 ul li{
    list-style: none;
    margin-left: -20px;
    padding-bottom: 10px;
}

.sec1 ul li a{
    text-decoration: none;
    color: grey;
}

.secIn{
    border-radius: 10px;
    width: 900px;
    height: 560px;
    margin-left: 310px;
    margin-top: -1600px;
    text-align: center;
}

.sectop{
    width: 900px;
    height: 200px;
    margin-left: 310px;
    margin-top: -400px;
    background-color: white;
}

.sectop img{
    margin-left: 170px;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.sectop a{
    color: #006ce1;
    text-decoration: none;
    margin-left: 460px;
    font-size: 20px;
    position: relative;
}

.sectop h1{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -126px;
    margin-left: 482px;
}

.sec2 hr{
    margin-right: -920px;
    margin-left: 310px;
    margin-top: 20px;
    background-color: lightgray;
    height: 2px;
    border: none;
}

.secmid{
    border: 1px solid #006ce1;
    border-radius: 5px;
    width: 220px;
    height: 30px;
    margin-left: 650px;
    margin-top: 40px;
}

.secmid a{
    display: flex;
    justify-content: center;
    margin-top: 6px;
    text-decoration: none;
    color: #006ce1;
} 

.box1{
    width: 950px;
    height: 560px;
    margin-left: 290px;
    margin-top: 50px;
    text-align: center;
}

.box1 h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.625rem;
}

.box1 span{
    color: #4d4d4d;
    font-size: 20px;
}

.box2{
    border-radius: 10px;
    height: 420px;
    width: 443px;
    margin-top: -400px;
    margin-left: 310px;
    background-color: white;
    text-align: center;
}

.box2 img{
    display: flex;
    margin-left: 130px;
}

.box2 h1{
    font-size: 1.5rem;
    font-weight: 100;
    padding-top: 40px;
}

.box2 a{
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #006ce1;
    color: #006ce1;
    display: flex;
    display: inline-block;
    text-decoration: none;
    margin-top: 11px;
    margin-left: 10px;
}

.box2 span{
    display: flex;
    color: #4d4d4d;
    margin-top: 20px;
    font-size: 16px;
    width: 400px;
    margin-left: 20px;
}

.box3{
    border-radius: 10px;
    height: 420px;
    width: 444px;
    margin-top: -438px;
    margin-left: 763px;
    background-color: white;
    text-align: center;
}

.box3 h1{
    padding-top: 40px;
    font-weight: 300;
    font-size: 26px;
}

.box3 img{
    display: flex;
    margin-left: 130px;
}

.box3 a{
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #006ce1;
    color: #006ce1;
    display: flex;
    display: inline-block;
    text-decoration: none;
    margin-top: 11px;
    margin-left: 10px;
}

.box3 span{
    display: flex;
    color: #4d4d4d;
    margin-top: 20px;
    font-size: 16px;
    width: 400px;
    margin-left: 20px;
}

footer{
    width: 100%;
    background-color: #f5f5f5;
}

.footer{
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}

.footer ul li{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 24);
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.footer ul li a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer ul li a:hover{
    text-decoration: underline;
}

.footer2, .footer3{
    padding-top: 29px;
}

.copyright{
    width: 100%;
    height: 84px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copyright-w{
    width: 100%;
    max-width: 1236px;
    height: 84px;
    margin: 0 auto;
    display: flex;
}

.last{
    width: 100%;
    max-width: 588px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.last a{
    display: inline-block;
    color: #4d4d4d;
    text-decoration: none;
}

.copyright-w a:hover{
    text-decoration: underline;
}
